<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bare - Start Bootstrap Template</title>

    <!-- Bootstrap core CSS -->
    <link th:href="@{/webjars/bootstrap/4.5.3/css/bootstrap.min.css}"
          rel="stylesheet">
</head>

<body>
<script>

function loadTimer() {
    var source = new EventSource("/flux");
    source.onmessage = function(event) {
      document.getElementById("timer").innerHTML = event.data

    };
}

</script>

<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
        <a class="navbar-brand" href="/">Start Bootstrap</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home
                        <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataset/upload">Upload</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataset/list">List</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/dataset/search">Search</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Page Content -->
<div class="container">
    <div class="row">
        <div class="col-lg-12 text-center">
            <div class="container h-100">
                <div class="h-100">
                    <div class="row h-100 justify-content-center align-items-center">
                        <div class="col-sm-5">
                            <form method="POST" enctype="multipart/form-data" id="csvUploadForm">
                                <div class="form-group">
                                    <label class="control-label" for="uploadCSV">Upload CSV:</label>
                                    <input type="file" class="form-control" id="uploadCSV" placeholder="Upload CSV"  name="uploadCSV"></input>
                                </div>
                                <button type="submit" onclick="loadTimer()">Upload</button>
                            </form>
                            <br>
                            <div th:if="${messages}" >
                                <span>Records inserted!</span>
                            </div>

                            <p class="text-danger" id="timer"></p>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Bootstrap core JavaScript -->
<script th:src="@{/webjars/jquery/3.5.1/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/4.5.3/js/bootstrap.min.js}"></script>

</body>

</html>
